.topbar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 35px;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 5rem;
  max-height: 5rem;
  min-height: 5rem;
  background: #040f42;
  color: yellow;
}

.topbar > nav {
  padding: 0.25rem;
  display: inline-grid;
  grid-template-columns: 1.5fr 5fr 0.5fr 1.5fr;
  grid-template-rows: auto;
  grid-template-areas:  "logo menu app usera" "logo menu app userb";
  align-items: baseline;
}

.logo {
  grid-area: "logo";
  justify-self: center;
  margin-left: 1.5rem;
}
    
  
a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  /*line-height: 40px;*/
}

img {
  z-index: 9;
}
  
@media (max-width: 600px) {
  img {
    display: none;
  }
}
  
h4 {
  font-family: "Helvetica Neue", sans-serif !important;
  font-weight: 700;
  font-size: 12px;
}
  
ul li {
  display: inline;
  margin-left: 8%;
}